body{
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 120px 0;
    width: 100%;
    max-width: 1000px
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.links{
    display: flex;
    gap: 15px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.headerContent{
    display: flex;
    max-width: 1000px;
    margin-bottom: 120px;
}

.headerText{
    flex: 1;
}

h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h3{
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    margin: 0 60px 10px 0;
}

.headerImage{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button{
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 40px;
    border-style: none;
    cursor: pointer;
}

button:hover{
    background-color: #81a9eb;
}